body
{
    background-image:url("images/背景图1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:100% 100%; 
    /* background-attachment:fixed;  
     控制背景是否跟随页面滚动 */
    margin:4% 13%;
}